/* #region Inventory type_3 */

.inventories-type_3 {
    position: absolute;

    width: 85vw;
    height: 63vh;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
	display: grid;
    grid-template-columns: 40% 15% 40%;
	grid-template-rows: 100%;
    justify-content: space-between;

	margin-top: 0vh;

	/* filter: blur(0px) */
}

.inventories-type_3 .inventory .inventory-top {
	height: 3vh;
	top: -.24vh;
	left: 1vh;
}

.inventories-type_3 .inventory {
	height: 100%;
	max-height: 100%;
}

.inventories-type_3 .inventory-weight:nth-child(1) {
	position: absolute;
	display: block;
	top: 4.5vh;
	left: 1vh;
	width: 55vh;

	color: white;
	z-index: 6;
}

.inventories-type_3 .non-player-inv .inventory-weight {
	width: 40vh;
}


.weight-type_3 .inventory-weight-text {
    margin-left: .6vw;
	font-weight: 900;
	top: .5vh;
	font-style: normal;
	font-size: 1vh;
}

.weight-type_3 .inventory-weight-text > b {
	appearance: none;
	font-weight: 900;
	font-size: 1vh;
}

.weight-type_3 .inventory-weight-bar {
	height: .54vh;
	width: 100%;
	background: #4C4849;
}

.inventories-type_3 > .inventory:nth-child(3) > .inventory-top > .weight-type_3 > .inventory-weight-bar:nth-child(2) {
	width: 32.8vw;
}


.weight-type_3 .inventory-weight-bar .inventory-weight-bar-current {
	background: linear-gradient(90deg, #77FFAD 0%, #FFFA77 100%);
	border-radius: 2vh;
	box-shadow: none;
}

.inventories-type_3 .non-player-inv .inventory-weight-bar {
	width: 31.5vw !important;
}

.slots-modified {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	grid-template-rows: 90%;
	overflow: visible;
}

.player-inventory {
	grid-template-rows: 20% 69%;
}

.inventories-type_3 .player-inventory {
	grid-template-rows: 24% 65%;
	z-index: 1;
}


.inventories-type_3 .inventory-slot-inner {
	position: relative;
	display: block;
	width: 93%;
	height: fit-content;

	display: grid;
	grid-template-columns: auto auto auto auto auto;

	justify-items: center;
    align-items: start;

	margin-bottom: 1vh;

	padding: .694vh;

	overflow-x: hidden;
	overflow-y: scroll;
	max-height: 90%;

	transition: max-height .1s ease;

	grid-column-start: 1;
	grid-column-end: 6;

	border-radius: .925vh;
	border: .3vh solid rgba(165, 165, 165, 0.26);
	background: rgba(255, 255, 255, 0.40);
	backdrop-filter: blur(1.15vh);
	z-index: 5;
}

.inventories-type_3 .inventory-slot-inner .inventory-main-inner-gps-health {
	position: relative;
	display: block;
	width: 101%;
	height: fit-content;

	display: grid;
	grid-template-columns: auto auto auto auto auto;

	justify-items: center;
    align-items: start;

	margin-bottom: 1vh;

	overflow-x: hidden;
	overflow-y: scroll;

	grid-column-start: 1;
	grid-column-end: 6;

	z-index: 15;
	max-height: 40vh;
	margin-bottom: 11.6vh;
	padding-bottom: 0vh;
}

#map-item {
	position: sticky;
	width: 97.5%;
	height: 9.6vh;

	bottom: .74vh;

	background-color: rgba(255, 255, 255, 0.55);

	border-radius: 1vh;
	
	grid-column-start: 1;
	grid-column-end: 6;
}

.inventories-type_3 .non-player-inv .inventory-slot-inner {
	padding-top: 4vh;
	overflow: hidden;
}


.inventories-type_3 .non-player-inv .inventory-slot-inner {
	max-height: 85%;
}

.inventories-type_3 .player-inventory .inventory-slot-inner:nth-child(2) {
	background: url("./svg/img5.png") no-repeat;
	background-size: 100% 100%;

	top: -1vh;
	padding-top: 2vh;
	border: unset;
	border-radius: unset;
	z-index: -1;
}
/* .inventory-slot-inner > * {
    backdrop-filter: none;
} */

.inventory-slot-inner::-webkit-scrollbar{
	display: none;
}

.second-inventory-inner::-webkit-scrollbar{
	display: none;
}


.inventories-type_3 .slots-modified .inventory-slot {
	background: rgba(0, 0, 0, 0.26);

	width: 10.1852vh;
	height: 10.1852vh;

	border: none;
	border-radius: .55vh;

	margin-right: .92vh;
}

.slots-modified .has-item {
	background: transparent;
}

.slots-modified .inventory-slot:nth-child(5n+5) {
	margin-right: 0;
}
.slots-modified .inventory-slot:nth-last-child(-n+5) {
    margin-bottom: 0;
}

.inventories-type_3 .slots-modified .inventory-slot .slot-name {
	top: auto;
	bottom: 0;
	left: 0;

	font-size: 1.3vh;

	color: white;
	opacity: 1;

	width: 1.4vh;
	height: 1.4vh;

	z-index: 2;
}

.inventories-type_3 .player-inner {
	background: rgba(50, 50, 50, 0.40);
	border: .27vh solid rgba(165, 165, 165, 0.26);

	padding-bottom: .5vh;
}

.inventories-type_3 .player-inner .inventory-slot:before {
	display: none;
}

.inventories-type_3 .player-inner .inventory-slot {
	background: transparent;
	border: unset;
	backdrop-filter: unset;

	box-sizing:border-box;

	margin-top: 3vh;
}


.inventories-type_3 .player-inner .inventory-slot .item-count {
	display: none;
}

.inventories-type_3 .player-inner .inventory-slot .first-5-main {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(125, 125, 125, .49);

	backdrop-filter: blur(2vh);
	
	border-radius: 0.55vh;
}

.inventories-type_3 .player-inner .inventory-slot .first-5-main::after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background: rgba(154, 154, 154, 0.05);
}

:root {
	--size-path: 2.5%;
	--size-path2: 85%;
	--size-path3: 97.5%;
}

.inventories-type_3 .player-inner .inventory-slot:nth-child(1) .first-5-main::after {
	clip-path: polygon(evenodd, 0% 0%, 80% 0%, 85% var(--size-path), 100% var(--size-path), 100% 100%, 0% 100%, var(--size-path) var(--size-path3), var(--size-path) var(--size-path), 78% var(--size-path), 82.7% 7.5%,  var(--size-path3) 7.5%,  var(--size-path3)  var(--size-path3), var(--size-path) var(--size-path3), 0% 100%);
}
.inventories-type_3 .player-inner .inventory-slot:nth-child(2) .first-5-main::after {
	clip-path: polygon(evenodd, 0% 0%, 80% 0%, 85% var(--size-path), 100% var(--size-path), 100% 100%, 0% 100%, var(--size-path) var(--size-path3), var(--size-path) var(--size-path), 78% var(--size-path), 82.7% 7.5%,  var(--size-path3) 7.5%,  var(--size-path3)  var(--size-path3), var(--size-path) var(--size-path3), 0% 100%);
	transform: rotateY(180deg);
}

.inventories-type_3 .player-inner .inventory-slot:nth-child(3) .first-5-main::after {
	clip-path: polygon(evenodd, 0% 0%, 20% 0%, 25% 5%, 75% 5%, 80% 0%, 100% 0%, 100% 100%, 0% 100%, 2.5% 97.5%, 2.5% 2.5%, 20% 2.5%, 25% 7.5%, 75% 7.5%, 80% 2.5%, 97.5% 2.5%, 97.5% 97.5%, 2.5% 97.5%, 0% 100%);
}

.inventories-type_3 .player-inner .inventory-slot:nth-child(4) .first-5-main::after {
	clip-path: polygon(evenodd, 0% 0%, 80% 0%, 85% var(--size-path), 100% var(--size-path), 100% 100%, 0% 100%, var(--size-path) var(--size-path3), var(--size-path) var(--size-path), 78% var(--size-path), 82.7% 7.5%,  var(--size-path3) 7.5%,  var(--size-path3)  var(--size-path3), var(--size-path) var(--size-path3), 0% 100%);
}

.inventories-type_3 .player-inner .inventory-slot:nth-child(5) .first-5-main::after {
	clip-path: polygon(evenodd, 0% 0%, 80% 0%, 85% var(--size-path), 100% var(--size-path), 100% 100%, 0% 100%, var(--size-path) var(--size-path3), var(--size-path) var(--size-path), 78% var(--size-path), 82.7% 7.5%,  var(--size-path3) 7.5%,  var(--size-path3)  var(--size-path3), var(--size-path) var(--size-path3), 0% 100%);
	transform: rotateY(180deg);
}

.inventories-type_3 .player-inner .inventory-slot:nth-child(1) .first-5-main {
	clip-path: polygon(0% 0%, 80% 0%, 85% 5%, 100% 5%, 100% 100%, 0% 100%);
}

.inventories-type_3 .player-inner .inventory-slot:nth-child(2) .first-5-main {
	clip-path: polygon(15% 5%, 20% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 5%);
}

.inventories-type_3 .player-inner .inventory-slot:nth-child(3) .first-5-main {
	clip-path: polygon(20% 0%, 25% 5%, 75% 5%, 80% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
}

.inventories-type_3 .player-inner .inventory-slot:nth-child(4) .first-5-main {
	clip-path: polygon(0% 0%, 80% 0%, 85% 5%, 100% 5%, 100% 100%, 0% 100%);
}

.inventories-type_3 .player-inner .inventory-slot:nth-child(5) .first-5-main {
	clip-path: polygon(15% 5%, 20% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 5%);
}


.inventories-type_3 .player-inner .inventory-slot:nth-child(1) {
	clip-path: polygon(0% 0%, 80% 0%, 85% 5%, 100% 5%, 100% 100%, 0% 100%);
}

.inventories-type_3 .player-inner .inventory-slot:nth-child(2) {
	clip-path: polygon(15% 5%, 20% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 5%);
}

.inventories-type_3 .player-inner .inventory-slot:nth-child(3) {
	clip-path: polygon(20% 0%, 25% 5%, 75% 5%, 80% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
}

.inventories-type_3 .player-inner .inventory-slot:nth-child(4) {
	clip-path: polygon(0% 0%, 80% 0%, 85% 5%, 100% 5%, 100% 100%, 0% 100%);
}

.inventories-type_3 .player-inner .inventory-slot:nth-child(5) {
	clip-path: polygon(15% 5%, 20% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 5%);
}


.inventories-type_3 .player-inner .inventory-slot .first-5-main::before {
		
	border-radius: 0rem 0.375rem 0rem 0rem;
	background: #2C2C2C;

	position: absolute;
	top: auto;
	bottom: 0vh;
	left: 0vh;
	content: "";
	width: 1.7vh;
	height: 1.7vh;
}

.filter-main { 
	filter: url('#goo2'); 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.first-5-main {
	position: absolute;
}

.slots-modified .inventory-slot-hover {
	opacity: .6;
}


.player-inner .inventory-slot:nth-child(-n+5) {
	margin-bottom: 0;
}

.item-inventory-type_3 {
	width: 10.1852vh;
	height: 10.1852vh;
}


.item-inventory-type_3 .item-count {
	color: #fff;
	font-size: .9vh;
	font-weight: 900;

	display: flex;
	align-items: center;

	top: .4vh;
}

.item-inventory-type_3 .item-count > svg {
	margin-left: .3vh;
	margin-bottom: .2vh;
	width: 1.2vh;
	height: 1.2vh;
}

.item-inventory-type_3 .item-durability-bar  {
	transform: translateX(-50%) rotateZ(90deg);

	left: 50%;

	bottom: -2.2vh;
	top: auto;
}

.item-inventory-type_3 .item-durability-bar .item-durability-bar-current {
	position: absolute;

	bottom: 0;
	width: 100%;

	border-radius: .18vh;

	background: #FFF;
}


.inventory-button-type_3 {
	position: relative;
	width: 100%;
	height: fit-content;
}

.inventory-button-type_3 .button-inventory {
	position: relative;
	float: none;
	width: 100%;
	top: 1.5vh;
	margin-top: 3.0556vh;

	border-radius: .92vh;
	border: .3vh solid #525457;
	background: linear-gradient(180deg, rgba(50, 50, 50, 0.50) 0%, rgba(50, 50, 50, 0.50) 100%);
	
	height: 4.38vh;

	backdrop-filter: blur(1.15vh);
}

/* .inventory-button-type_3 .button-inventory:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(1vh);
	z-index: -1;
} */

.inventory-buttons-center {
	position: absolute;
	width: 100%;
	top: 60%;
	transform: translateY(-50%);
}

.inventory-button-type_3 .button-inventory:hover {
	opacity: .8;

	box-shadow: none;

	color: white;
}

.inventory-buttons-center .button-inventory {
	cursor: pointer;

	margin-top: 2vh;
	border: .3vh solid #AEAEAE;
	background: linear-gradient(180deg, rgba(193, 193, 193, 0.50) 0%, rgba(193, 193, 193, 0.50) 100%);

	color: white;

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 1.8vh;
}

.inventory-buttons-center > div:first-of-type {
	background: linear-gradient(180deg, rgba(41, 41, 41, 0.50) 0%, rgba(41, 41, 41, 0.50) 100%);
	border: .3vh solid #3E3E3E;
}

#inventory-number {
	width: fit-content;
	height: fit-content;

	border: none;
	appearance: none;
	-webkit-appearance: none;
	margin: 0;
	background: none;
	outline: none;

	text-align: center;

	font-size: 2.12Vh;
	font-weight: 800;

	color: #626262;
	max-width: 100%;

	border-bottom: .38vh solid rgb(98, 98, 98, .25);

	border-radius: .5vh;
}

.clothing-button {
	background: url("./svg/img3.png") no-repeat;
	background-size: 100% 100%;
	border: unset;
	backdrop-filter: unset;
}

.inventory-button-type_3 .button-inventory:nth-child(2) {
	background: url("./svg/img4.png") no-repeat;
	background-size: 100% 100%;
	border: unset;
	backdrop-filter: unset;
}

.settings-button {
	background: url("./svg/img3.png") no-repeat;
	background-size: 100% 100%;
	border: unset;
	backdrop-filter: unset;
}

.inventory-visible-type_3 .inventory-buttons-center .button-inventory:nth-child(2) {
	background: url("./svg/img1.png") no-repeat;
	background-size: 100% 100%;
	border: unset;
	backdrop-filter: unset;
}

.inventory-visible-type_3 .inventory-buttons-center .button-inventory:nth-child(3) {
	background: url("./svg/img2.png") no-repeat;
	background-size: 100% 100%;
	border: unset;
	backdrop-filter: unset;
}

#inventory-number::-webkit-outer-spin-button,
#inventory-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#inventory-number:focus {
	color: white;
}

.inventory-visible-type_3 .inventory-images {
	display: none;
}

.inventory-visible-type_3 .inventory-blackout {
	background: radial-gradient(circle, rgba(255,255,255,0) 45%, rgba(255,255,255,0.56) 100%);
	backdrop-filter: blur(.2vh);
	z-index: 0;
}

.inventory-visible-type_3 .inventory-blackout::before {
	content: "";
	position: absolute;

	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background: #000000;
	opacity: .56;
	z-index: -1;
}

.health-armor-bar-type_3 {
	position: absolute;
	top: 9.2vw;
	left: 1.5vw;
	height: .4vw;
	width: 55vh;
	display: flex;
}

.health-armor-bar-type_3 > .bar-ah {
	width: 100%;
	height: .54vh;
	background: #4C4849;

	margin-right: 15.5vh;
	margin-top: .3vh;
}

.health-armor-bar-type_3 > .bar-ah:nth-child(2) {
	margin-right: 0;
}
.health-armor-bar-type_3 > .bar-ah:nth-child(2) > .icon-bar {
	left: auto;
	right: -1.5vh;
}


.health-armor-bar-type_3 > .bar-ah > div:last-of-type{
	height: 100%;
	box-shadow: none;
}

.health-armor-bar-type_3 > .bar-ah > .icon-bar {
	top: -0.5vh;
	left: -1.5vh;
}

.inventory-class-crafting .inventory-slot-inner {
	overflow: hidden;
	height: 90%;
	max-height: 90%;
	display: flex;
}

.crafting-slot-inner {
	position: relative;
	display: block;
	width: 100%;
	height: 100vh;

	display: grid;
	grid-template-columns: auto auto auto auto auto;

	justify-items: center;
    align-items: start;


	overflow-x: hidden;
	overflow-y: scroll;
	max-height: 55%;
}

.second-inventory-inner {
	position: relative;
	display: block;
	width: 101%;
	height: fit-content;
	max-height: 100%;

	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;

	justify-items: center;
    align-items: start;


	overflow-x: hidden;
	overflow-y: scroll;
	max-height: 102%;
}

.item-icon-bottom {
	position: absolute;

	bottom: .55vh;
	right: .46vh;
	font-size: 1.2vh;

	color: #b3b3b3;
}

.inventory-slots-filter {

	top: 0;
	width: 100%;
	height: fit-content;

	position: relative;

	border-bottom: .18vh solid #404040;
	margin-bottom: .6vh;

	color: #686868;

	display: flex;
}

.filter-icon {
	position: relative;
	margin-right: .8vh;
	width: 2vh;
	height: 2vh;

	display: flex;
	justify-content: center;
	align-items: center;

	padding-bottom: .46vh;

	cursor: pointer;

	font-size: 1.5vh;
}


.filter-icon > svg > path {
	fill: #404040;
}


.selected-filter > svg > path {
	fill: #FFF;
}


.selected-filter { border-bottom: .18vh solid white; color: white; }

.inventory-crafting-custom {
	position: absolute;
	top: 55%;
	left: 0;
	width: 100%;
	height: 27vh;

	background: rgba(28, 28, 28, 0.88);
	border-top: .3vh solid rgba(165, 165, 165, 0.26);
	
	backdrop-filter: blur(1vh);

	display: grid;
	grid-template-columns: 65% 35%;
}

.crafting-type_3 .inventory-crafting-custom-right {
	position: absolute;

	bottom: 0;

	width: 100%;
	height: 100%;

	display: block;
	margin: 0;
}

.crafting-item-type_3 {
	position: absolute;

	border-radius: 0.375rem;
	background: linear-gradient(180deg, rgba(193, 193, 193, 0.20) 0%, rgba(193, 193, 193, 0.20) 100%);
	backdrop-filter: blur(1vh);

	width: 10vh;
	height: 10vh;

	top: .83vh;
	left: .92vh;
}

.crafting-item-type_3 > svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	height: 50%;
}

.crafting-type_3 {
	display: block;

	top: 4vh;
	left: 0;
	height: 15.18vh;

	border-radius: .8vh;
	background: rgba(0, 0, 0, 0.70);
}

.inventories-type_3 .crafting-slot-inner {
	top: 16vh;

}

.inventories-type_3 .crafting-slot-inner {
	max-height: 70%;
	padding-bottom: 1vh;
}


.layout-craft-type_3 {
	display: block;

	position: absolute;
	bottom: 0;
	top: unset;

	width: 23.6vh;
	height: 8vh;
	left: 11.5vh;

	align-items: center;
	justify-items: center;

	border-left: .2vh solid #292929;
	border-bottom: unset;
}

.craft-arrow-type_3 {
	bottom: .92vh;
	left: .92vh;

	width: calc(10vh - ( 2 * .3vh));
	height: 2.3vh;

	align-items: center;


	display: block;

	background: rgba(71, 71, 71, 0.26);

	position: absolute;

	border: .3vh solid rgba(95, 95, 95, 0.26);

	border-radius: 0 0 .4vh .4vh;

	z-index: 2;
}

.craft-arrow-type_3 .input-craft-arrow:first-of-type {
	left: .4vh;
	position: absolute;

	width: 1vh;
	height: 100%;

	background: none;
}


.craft-arrow-type_3 .input-craft-arrow:last-of-type {
	right: .4vh;
	position: absolute;

	width: 1vh;
	height: 100%;

	background: none;
}

.craft-arrow-type_3 .input-craft-arrow > svg {
	transform: rotateZ(90deg);
	width: 2vh;
	height: 2vh;
}

.craft-arrow-type_3 .input-craft-current {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	color: #4F4F4F;
	font-size: 1.8vh;
}

.craft-arrow-type_3 .input-craft-arrow:hover {
	box-shadow: none;
	opacity: .5;
}


.crafting-type_3 .inventory-crafting-layout .crafting-item-name {
	position: absolute;
	left: 0vh;
	top: .3vh;

	width: 100%;
	height: 2.1vh;

	display: flex;
	align-items: center;

	color: #848484;
	font-size: 1.5vh;
	font-weight: 900;

	padding-bottom: 0vh;
	border-bottom: .2vh solid #292929;
	padding-left: .6vh;
}

.crafting-type_3 .crafting-info {
	position: absolute;
	font-size: .75vh;
	color: #525151;
	font-weight: 600;

	grid-area: footer;

	width: 100%;

	left: 23.6vh;
	border-top: unset;
	height: 1.7vh;

	top: .5vh;

	padding-bottom: .2vh;
	border-bottom: .2vh solid #292929;
	border-left: .2vh solid #292929;
	padding-left: .6vh;

	display: flex;
	align-items: center;
}

.crafting-info > b {
	margin-left: .5vh;
	margin-right: .5vh;
	color: #61D9FF;
}

.crafting-type_3 .crafting-item-desc {
	position: absolute;
	top: 2.6vh;
	
	width: 90%;
	height: 4vh;
	overflow: hidden;

	color: #515151;
	font-size: .8vh;
	font-weight: 600;

	padding-top: .4vh;
	padding-bottom: .4vh;
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;

	border-right: .2vh solid #292929;
}


.crafting-type_3 .crafting-requirements {

	position: absolute;
	top: .73vh;

	width: 90%;
	height: 6.20vh;

	left: 11.5vh;
	padding-top: 0vh;

	border-top: unset;
	padding-bottom: .5vh;
	border-left: .2vh solid #272727;
	border-bottom: .2vh solid #272727;
	padding-left: .8vh;
}

.crafting-type_3 .crafting-requirements .crafting-item {
	position: relative;

	top: 0;
	left: 0;

	margin-right: 1vh;

	width: 6.20vh;
	height: 6.20vh;

	float: left;

	display: flex;
	justify-content: center;
	align-items: center;
}

.crafting-type_3 .crafting-requirements .crafting-item:nth-child(4n) {
	margin-right: 0;
}

.crafting-type_3 .crafting-requirements > svg {
	position: relative;
	float: left;

	top: 50%;
	transform: translateY(-50%);
	margin-right: 1vh;

	fill: #706F6F;
}

.crafting-type_3 .crafting-requirements > svg > path {
	fill: #706F6F;
}

.crafting-type_3 .craft-buttons {
	position: absolute;

	bottom: 0;
	right: 0;

	margin-top: 8vh;

	width: 22vh;
	height: 5.5vh;

	display: grid;
	grid-template-columns: 50% 50%;

	justify-items: center;
	align-items: center;
}

.crafting-type_3 .craft-buttons > button {
	position: relative;

	width: 10vh;
	height: 3vh;
	
	padding: 0;
	margin: 0;

	border: none;
	appearance: none;
	outline: none;

	bottom: 0;
	left: 0;
	right: 0;
	top: 0;

	border-radius: .4vh;

	backdrop-filter: blur(1vh);

	color: white;
	text-transform: uppercase;

	cursor: pointer;

	transition: opacity .4s ease;

	font-weight: 900;
}

.crafting-type_3 .craft-buttons  button:hover {
	color: white;
	opacity: .8;
	box-shadow: none;
}

.crafting-type_3  .craft-buttons  button:first-of-type {
	background: linear-gradient(45deg, #9E9E9E 0%, #FFFBFB 100%);
	color: #3F3F3F;
}

.crafting-type_3 .craft-buttons button:last-of-type {
	background: linear-gradient(45deg, #414141 0%, #626262 100%);
	color: white;
}

.tooltip-type-type_3 {
	background: rgba(0, 0, 0, 0.50);
	backdrop-filter: blur(1vh);

	height: 10vh;
	width: 20vw;
	min-height: 0;

	border-radius: 0;

	padding: 0;
}

.tooltip-type-type_3::before{
    content: "";
    position: absolute;
    width: 100%; /* Kenarlıkların ortasını kesmek için yarısı */
    height: 100%;
    background-color: transparent; /* Kenarlık rengini belirle */
    z-index: -1; /* İçeriğin üstünde olmasını sağla */

	clip-path: polygon(evenodd, 0% 0%, 99.5% 0%, 99.5% 99.5%, 0% 99.5%, 1.99% 94.53%, 1.99% 64.68%, 0% 64.68%, 0% 34.83%, 1.99% 34.83%, 1.99% 4.98%, 34.83% 4.98%, 34.83% 0%, 64.68% 0%, 64.68% 4.98%, 97.51% 4.98%, 97.51% 34.83%, 99.5% 34.83%, 99.5% 64.68%, 97.51% 64.68%, 97.51% 94.53%, 64.68% 94.53%, 64.68% 99.5%, 34.83% 99.5%, 34.83% 94.53%, 1.99% 94.53%, 0% 99.5%);

	background-color: #353535;

	transform: scaleX(1.04) scaleY(1.11);
}

.tooltip-type-type_3 .tooltip-top {
	top: 0;
	height: 100%;

	overflow: hidden;
}

.tooltip-type-type_3 .tooltip-image-parent {
	margin-left: .5vh;

	top: 50%;
	transform: translateY(-50%);

	border-radius: .2vh;

	width: 8vh;
	height: 7vh;
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 0;
}

.tooltip-type-type_3 .tooltip-label-span {
	display: block;
	padding-bottom: .1vh;
	margin-bottom: .1vh;
	margin-top: .5vh;

	width: 95%;

	color: #737373;
	font-size: 1vh;
	text-transform: uppercase;

	border-bottom: .1vh solid rgba(255, 255, 255, 0.08);
}

.tooltip-type-type_3 .tooltip-label-span::after {
	display: none;
}

.tooltip-type-type_3 .tooltip-desc {
	width: 90%;
	height: .2vh;

	overflow: hidden;

	color: #434343;
	font-size: .7vh;
	font-weight: 600;
	font-style: normal;

}

.tooltip-type-type_3 .tooltip-card { display: none; }

.tooltip-type-type_3 .tooltip-durability-bar {
	margin-top: .7vh;
	left: 0;
	width: 90%;

	height: .15vh;

	margin-bottom: .1vh;
}

.tooltip-type-type_3 .tooltip-durability-bar:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;


}

.tooltip-type-type_3 .tooltip-label {
	border-bottom: .1vh solid rgba(255, 255, 255, 0.08);

	padding-bottom: .5vh;

	width: 95%;

	margin-top: 1vh;
}

.rarity-type_3 {
	position: relative;

	background: var(--colorrarity);
	padding-left: .2vh;
	padding-right: .2vh;

	margin-left: .6vh;
}

.rarity-type_3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: .3vh;
    height: 100%;
    background: var(--colorrarity);
    margin-left: -.5vh; /* Adjust this value for the desired gap size */
}

.tooltip-attachments {
	position: absolute;

	bottom: -4.8vh;

	height: 4vh;
	width: 90%;
}

.tooltip-attachments .tooltip-item {
	position: relative;

	width: 2.5vh;
	height: 2.5vh;

	background: linear-gradient(45deg, rgb(101, 101, 101, .31) 0%, rgb(100, 100, 100, .31) 100%);
	
	float: left;

	margin-right: 1vh;
}

.tooltip-attachments .tooltip-item::before{
    content: "";
    position: absolute;
    width: 100%; /* Kenarlıkların ortasını kesmek için yarısı */
    height: 100%;
    background-color: transparent; /* Kenarlık rengini belirle */
    z-index: 1; /* İçeriğin üstünde olmasını sağla */

	background: red;

	clip-path: polygon(evenodd, 0% 0%, 100% 0%, 100% 100%, 0% 100%, 10% 90%, 10% 65%, 0% 65%, 0% 35%, 10% 35%, 10% 10%, 35% 10%, 35% 0%, 65% 0%, 65% 10%, 90% 10%, 90% 35%, 100% 35%, 100% 65%, 90% 65%, 90% 90%, 65% 90%, 65% 100%, 35% 100%, 35% 90%, 10% 90%, 0% 100%);
	background-color: #585858;

	transform: scale(1.2);
}



.tooltip-attachments .tooltip-item img {
	width: 100%;
	height: 100%;
}

.item-price-tooltip {
	position: absolute;
	right: 0;
	top: 0;
}

.item-price-tooltip svg {
	margin-left: .1vh;
}

.item-price-tooltip span {
	margin-right: -.1vh;
}

.clothing-main-inner {
	position: relative;
	width: 55.7vh;
	height: 100%;

	top: 0;
	left: 0;

	background: rgba(28, 28, 28, 0.40);
	border: .3vh solid rgba(165, 165, 165, 0.26);
	backdrop-filter: blur(1.5vh);

	border-radius: 1vh;

}

.clothing-section-top {
	position: absolute;

	left: 50%;
	transform: translateX(-50%);

	top: .5vh;
}

.clothing-section-top > svg {
	fill: #4E4E4E;

	width: 33vw;
}


.clothing-section-bottom {
	position: absolute;

	left: 50%;
	transform: translateX(-50%);

	bottom: .5vh;
}

.clothing-section-bottom > svg {
	fill: #4E4E4E;

	width: fit-content;
}

.bottom-svg {
	position: relative;
	width: 100%;

	height: 100%;

	clip-path: polygon(0% 0%, 14% 0%, 25% 60%, 75% 60%, 86% 0%, 100% 0%, 100% 100%, 0% 100%);

	background: #4E4E4E;
}

.bottom-svg-parent {
	filter: url('#goo');
	overflow:hidden;

	position: relative;
	width: 30vw;
	height: 12vh;

	opacity: 0.28;
}

.top-svg {
	position: relative;
	width: 100%;

	height: 100%;

	clip-path: polygon(0% 0%, 14% 0%, 25% 60%, 75% 60%, 86% 0%, 100% 0%, 100% 100%, 0% 100%);

	background: #4E4E4E;

	transform: rotate(180deg);
}

.top-svg-parent {
	filter: url('#goo');
	overflow:hidden;

	position: relative;
	width: 30vw;
	height: 12vh;

	opacity: 0.28;
}

.clothing-section-type_3 .clothing-main-inner .inventory-clothing-slots {
	position: absolute;
	top: 50.5%;

	width: 100%;
    height: 100%;

	padding-left: 1vh;
	padding-right: 1vh;

	display: block;

	
}

.clothing-section-type_3 .clothing-main-inner .inventory-clothing-slots::after {
	display: none;
}

.clothing-section-type_3 .clothing-main-inner .inventory-clothing-slots .inventory-slot {
    width: 10.1852vh;
    height: 10.1852vh;

	border: none;

	margin-right: 0.83vh;
	margin-bottom: 0.83vh;

	position: absolute;


	background: rgba(0, 0, 0, 0.26);
	opacity: 1;
}

.clothing-section-type_3 .clothing-main-inner .inventory-clothing-slots .inventory-slot .clothing-item .clothing-image { opacity: .9;}

/* Top Pants */
.clothing-section-type_3  .clothing-main-inner .inventory-clothing-slots .inventory-slot:nth-child(1) {
	top: 11vh;
	left: 23.8vh;
}

/* Top Mask */
.clothing-section-type_3  .clothing-main-inner .inventory-clothing-slots .inventory-slot:nth-child(2) {
	top: 5vh;
	left: 12.8vh;
}

/* Top Ear */
.clothing-section-type_3  .clothing-main-inner .inventory-clothing-slots .inventory-slot:nth-child(3) {
	top: 5vh;
	left: 34.8vh;
}

/* Right */
.clothing-section-type_3  .clothing-main-inner .inventory-clothing-slots .inventory-slot:nth-child(6) {
	top: 17.5vh;
	left: 39.8vh;
}
.clothing-section-type_3  .clothing-main-inner .inventory-clothing-slots .inventory-slot:nth-child(8) {
	top: 31.8vh;
	left: 39.8vh;
}
/* Right */

/* Left */
.clothing-section-type_3  .clothing-main-inner .inventory-clothing-slots .inventory-slot:nth-child(5) {
	top: 17.5vh;
	left: 7.6vh;
}

.clothing-section-type_3  .clothing-main-inner .inventory-clothing-slots .inventory-slot:nth-child(7) {
	top: 31.8vh;
	left: 7.6vh;
}
/* Left */

/* Bottom Pants */
.clothing-section-type_3  .clothing-main-inner .inventory-clothing-slots .inventory-slot:nth-child(9) {
	top: 38.8vh;
	left: 23.8vh;
}

/* Bottom Bracelet */
.clothing-section-type_3  .clothing-main-inner .inventory-clothing-slots .inventory-slot:nth-child(10) {
	top: 45vh;
	left: 12.8vh;
}

/* Bottom Shoes */
.clothing-section-type_3  .clothing-main-inner .inventory-clothing-slots .inventory-slot:nth-child(12) {
	top: 45vh;
	left: 34.8vh;
}

/* Center Armor */
.clothing-section-type_3  .clothing-main-inner .inventory-clothing-slots .inventory-slot:nth-child(11) {
	top: 24vh;
	left: 18.2vh;
}

/* Center Shirt */
.clothing-section-type_3  .clothing-main-inner .inventory-clothing-slots .inventory-slot:nth-child(4) {
	top: 24vh;
	left: 29.2vh;
}

.clothing-section-type_3  .clothing-main-inner .inventory-clothing-slots .inventory-slot {
	clip-path: unset;
}

.top-section-parent-cloth {
	position: absolute;

	top: 0;
	left: 0;

	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 80%;
	top: 10%;
	left: 0%;

	filter: url('#goo');
	overflow:hidden;
}

.clothing-section-type_3 {
	top: 3vh;
	height: 96%;
}


.inventories-type_3 .inventory-clothing-section {
	position: relative;
	width: 100%;
	height: 100%;
}

.inventories-type_3 .inventory-clothing-slots {
	position: relative;
	width: calc(var(--inventory-slot-size)*3.3);
	height: calc(var(--inventory-slot-size)*4.5);

	top: 43%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: grid;
	grid-template-columns: 33% 33% 33%;
    justify-items: center;
    align-items: center;
}

.section-top-draw {
	position: absolute;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 98%;
	height: 98%;
	background: url("./svg/img6.png") no-repeat;
	background-size: 100% 100%;
}

.inventories-type_3 .clothing-item {
	position: relative;
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}


.leaflet-control-container {
    display: none;
}

.leaflet-marker-pane {
	z-index: 600;
}

.leaflet-tooltip-pane {
	z-index: 650;
}

.leaflet-tooltip-right {
	margin-left: 6px;
}

.mousein {
    z-index: 9;
}

.leaflet-container img.leaflet-image-layer {
    max-width: 200px !important;
}

.map-icon-heading {
    top: 0;
    left: 0;
    width: 0;
    height: 0;

    border-left: 2vh solid transparent;
    border-right: 2vh solid transparent;
    border-bottom: 4vh solid rgb(0, 71, 255, .3);
    border-radius: 1.5vh;

    transform-origin: top center;

    transform: rotate(5deg);
    transform: scaleY(-1);
}


.dot-circle {
    position: absolute;
    width: 1.5vh;
    height: 1.5vh;
    top: 0;
    left: 0;

    background: #0047FF;
    border: .3vh solid white; 
    border-radius: 50%;
    z-index: 1;
}

.make-center {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    position: absolute;

    top: .7vh;
    left: -.015vh;

    width: 1.5vh;
    height: 1.5vh;
}

/* #endregion */


